.np-container {
    width: 420px;
    height: min-content;
    position: relative;
    z-index: 2;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 12px;

    color: white;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(0,0,0);
    background: 
    linear-gradient(
        180deg, 
        rgba(0,0,0,1) 3%, 
        rgb(10, 51, 162) 57%, 
        rgb(21, 14, 126) 100%
    );
}

.np-functions-box {
    padding: 10px;
}

.modal-action-text div {
    margin-bottom: 8px;  
}

.modal-function-box {
    background: rgba(75, 75, 75, 0.650);
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: column;

    label {
        font-size: 12px;
        margin-bottom: 4px;
    }

    input {
        height: 18px;
        font-size: 14px;
        margin-bottom: 8px;
        color: white;
        font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border: none;
        background: none;
        outline: none;
    }
}

.np-buttons-box {
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;

    div {
        margin-right: 6px;
    }
}

.standard-svg-container {
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px;
    width: fit-content;
    height: 26px;
    display: flex;
    justify-content: center;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.standard-svg-container:hover {
    background-color: rgba(46, 46, 46, 0.300);
    cursor: pointer;
}

.display-centered-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}